{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/login.js') }}"></script>
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="row justify-content-center align-items-center vh-100">
		<div class="col-md-8 p-4 shadow-lg">
			<h1 class="text-center mb-4">
				Inscrivez vous !<span class="text-primary">C'est gratuit
				</span>
			</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.status) }}
			<div class="row">
				<div class="col">{{ form_row(registrationForm.username) }}</div>
				<div class="col">{{ form_row(registrationForm.email) }}</div>
			</div>

			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
