<div class="col-md-6 mb-4">
	<div class="card mb-3 p-2 home-card" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{entreprise.logo}}" class="img-fluid rounded-start " alt="Logo de l'entreprise" style="height: 100%; width: 100%; object-fit: cover;"/>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">
						{{entreprise.name}}
					</h5>
					<p class="card-text">
						<i class="bi bi-geo-alt-fill"></i>
						{{entreprise.address}},
						{{entreprise.city}},
						{{entreprise.country}}<br>
						<i class="bi bi-telephone-fill"></i>
						{{entreprise.phoneNumber}}<br>
						<i class="bi bi-envelope-fill"></i>
						{{entreprise.email}}
					</p>
					<a href="mailto:{{entreprise.email}}" class="btn btn-sm btn-outline-secondary">Envoyer un email</a>
					<a href="tel:{{entreprise.phoneNumber}}" class="btn  btn-sm btn-warning">Appeler</a>

					<a href="{{entreprise.website}}" class="btn btn-sm btn-info">Site web</a>
				</div>
			</div>
		</div>
	</div>
</div>
