{# <header class="p-3 text-bg-dark">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
				<img src="{{asset('uploads/logo.png')}}" alt="logo" width="40" height="40" class="me-2">
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{path('app_home')}}" class="nav-link px-2 text-white">Accueil</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Offres</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Entreprise</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Contact</a>
				</li>
			</ul>
			{% if is_granted('ROLE_USER') %}
				{% set userStatus = app.user.status %}

				{% set userProfile = userStatus == 'Candidat' ? app.user.userProfil : app.user.entrepriseProfil %}


				{% set defaultImage = asset('uploads/default.png') %}

				<div class="dropdown text-end">
					<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{ userProfile is not null and userProfile.logo is not null ? asset('uploads/' ~ userProfile.logo) : defaultImage }}" alt="mdo" width="32" height="32" class="rounded-circle">
					</a>
					<ul class="dropdown-menu text-small">
						<li>
							<a href="{{ userStatus == 'Candidat' ? path('app_user_profil') : path('app_entreprise_profil') }}" class="dropdown-item">Profile</a>
						</li>

						{% if userStatus == 'Professionnel' and userProfile is not null %}
							<li>
								<a class="dropdown-item" href="#">Settings</a>
							</li>
						{% endif %}

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a>
						</li>
					</ul>
				</div>


			{% else %}
				<div class="text-end">
					<a href="{{path('app_login')}}" class="btn btn-outline-light me-2">Login</a>

					<a href="{{path('app_register')}}" class="btn btn-warning">Sign-up</a>
				</div>
			{% endif %}

		</div>
	</div>
</header> #}


<header class="p-3 text-bg-dark">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
				<img src="{{asset('uploads/logo.png')}}" alt="logo" width="40" height="40" class="me-2">
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{path('app_home')}}" class="nav-link px-2 text-white">Accueil</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Offres</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Entreprise</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Contact</a>
				</li>
			</ul>

			
			{% if is_granted('ROLE_USER') %}

				{% if app.user.status =='Candidat' and app.user.userProfil is null %}
					<div class="dropdown text-end">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{asset('uploads/default.png')}}" alt="mdo" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small">
							<li>
								<a class="dropdown-item" href="{{path('app_user_profil')}}">Profile</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('app_logout')}}">Sign out</a>
							</li>
						</ul>
					</div>
				{% endif %}

				{% if app.user.status =='Candidat' and app.user.userProfil is not null %}
					<div class="dropdown text-end">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{asset('uploads/'~ app.user.userProfil.picture)}}" alt="mdo" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small">
							<li>
								<a href="{{path('app_user_profil')}}" class="dropdown-item">Profile</a>
							</li>

							<li>
								<a class="dropdown-item" href="#">Settings</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('app_logout')}}">Sign out</a>
							</li>
						</ul>
					</div>
				{% endif %}

				{% if app.user.status =='Professionnel' and app.user.entrepriseProfil is null %}

					<div class="dropdown text-end">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{asset('uploads/default.png')}}" alt="mdo" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small">
							<li>
								<a class="dropdown-item" href="{{path('app_entreprise_profil')}}">Profile</a>

							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('app_logout')}}">Sign out</a>
							</li>
						</ul>
					</div>
				{% endif %}

				{% if app.user.status =='Professionnel' and app.user.entrepriseProfil is not null %}
					<div class="dropdown text-end">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{asset('uploads/'~ app.user.entrepriseProfil.logo)}}" alt="mdo" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small">
							<li>
								<a href="{{path('app_entreprise_profil')}}" class="dropdown-item">Profile</a>
							</li>

							<li>
								<a class="dropdown-item" href="#">Settings</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('app_logout')}}">Sign out</a>
							</li>
						</ul>
					</div>
				{% endif %}


			{% else %}
				<div class="text-end">
					<a href="{{path('app_login')}}" class="btn btn-outline-light me-2">Login</a>

					<a href="{{path('app_register')}}" class="btn btn-warning">Sign-up</a>
				</div>
			{% endif %}

		</div>
	</div>
</header>

