{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Création de compte utilisateur
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">

			<div class="col-2 p-0 m-0">
				{% include "partials/_sidebar.html.twig" %}
			</div>
			<div class="col-10">
				{% block content %}
					<h4 class="text-center">
                        Modification du profil
                    </h4>

					<div class="row">
						<div class="col-12">
							{{form_start(form)}}
							<div class="row g-3">
								<div class="col">
									{{form_row(form.firstName)}}
								</div>
								<div class="col">{{form_row(form.lastName)}}</div>
							</div>
							<div class="row g-3">
								<div class="col">{{form_row(form.address)}}</div>
								<div class="col">{{form_row(form.phoneNumber)}}</div>
							</div>
							<div class="row g-3">
								<div class="col">{{form_row(form.city)}}</div>
								<div class="col">{{form_row(form.zipCode)}}</div>
								<div class="col">{{form_row(form.country)}}</div>
							</div>
							<div class="row g-3">
								<div class="col">{{form_row(form.jobSought)}}</div>
								<div class="col">{{form_row(form.website)}}</div>
							</div>
							{{form_row(form.availability)}}
							{{form_row(form.presentation)}}
							{{form_row(form.imageFile)}}
							<button type="submit" class="btn btn-info">Modifier</button>
							{{form_end(form)}}
						</div>
					</div>
				{% endblock %}
			</div>

		</div>

	</div>
{% endblock %}

