{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Les mots clés
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">

			<div class="col-2 p-0 m-0">
				{% include "partials/_sidebar.html.twig" %}
			</div>
			<div class="col-10">
				{% block content %}
					<div class="row">
						<div class="col-12 text-center">
							<h1>Les mots clés</h1>
							<p>
								Vous pouvez des mots clés afin d'enrichir votre contenu.
							</p>
						</div>

						<div class="col-12">
							<div class="d-flex align-items-center justify-content-center">
								<div class="bg-white shadow p-5 rounded">
									{{form_start(form)}}
									{{form_widget(form)}}
									<button type="submit" class="btn btn-primary">Ajouter</button>
									{{form_end(form)}}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-10 mx-auto">
							<h4 class="text-center fw-bold">
								Liste des mots clés
							</h4>

							{% if tags|length <= 0 %}
								<div class="alert alert-info">
									Aucun mot clé n'a été trouvé.
								</div>
							{% else %}
								{% for tag in tags %}
									<span class="badge rounded-pill text-bg-primary">
                                    <i class="bi bi-tag-fill"></i>
                                    {{tag.name}}</span>
								{% endfor %}

							{% endif %}
						</div>
					</div>

				{% endblock %}
			</div>

		</div>

	</div>
{% endblock %}
